ion-content {
  --background: rgb(168, 163, 162);
  --background: linear-gradient(260deg, rgb(255, 103, 2), rgb(61, 36, 21));
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  text-align: center;
}

p {
  margin-bottom: 20px;
}
.validators {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  color: rgb(252, 73, 73);
}

.register-button {
  font-size: 20px;
  font-weight: bold;
}
